.env
__pycache__
*.pyc
faiss_cache/
*.index
*.npy
dataset.csv
TMDB_movie_dataset_v11.csv
venv/
.DS_Store

__pycache__/
faiss_cache/
flask_session/
TMDB_movie_dataset_v11.csv
preprocessed_movies.csv
data/
venv/
.env
*.pyc