spotipy
flask
pandas
numpy
sentence-transformers
faiss-cpu
scikit-learn
python-dotenv
rapidfuzz
pyarrow
gunicorn

flask>=2.2
flask-session
spotipy>=2.23
python-dotenv
gunicorn
pandas
numpy
faiss-cpu
sentence-transformers
scikit-learn
openai
rapidfuzz
pyarrow
